.primaryHeading {
  font-size: 56px;
  font-weight: 600;
}
.secondaryHeading {
  font-size: 28px;
  font-weight: 400;
}
.nav__text {
  color: var(--basic-black-color);
  font-size: 12px;
  font-weight: 400;
}
.plain-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-text);
}
footer label {
  font-size: 16px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
